
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#canvas{
   
    background-color: rgb(193, 189, 189);
    transform: scale(0.8);
}

#tetris{
    text-align: center ;
    margin-left: auto;
    margin-right: auto; 
    font-family: Silkscreen; 
    font-size: 50px;
}

#tetris h2{
    margin: none;
}

/* */

body{
    top: 0;
    background-image: url('https://images2.alphacoders.com/941/thumbbig-941898.webp') ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden; /* Hide vertical scrollbar */
}

table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    width: 455px;
    height: 856px;
    background-color: rgb(193, 189, 189);
    transform: scale(0.8);
    border: 6px solid #004FEB ;
    border-spacing: 0;
}

#exe{
        
    font-family: monospace; 
    font-size: 16px;
    color: aliceblue;
    transform: translateY(35px);
    
}

#haut{
    width: 455px;
    height: 10px;
    background-color: #004FEB;
    padding: 0;
    margin: 0;
    border: 9px solid #fff ;
    

}

#croix{
    
    margin-left: 85%;
    border: 0  ;

}
 #logo{
    margin-left: 1%;
    margin-top: 0%;
    width: 60px;
    height: 60px;
    padding-top: 20px;
    display: inline-block;
 }

 #cs{
    margin-left: 1%;
    margin-top: 5%;
    width: 20px;
    height: 20px;
    padding-top: 20px;
    
    color: #fff;
    float: left;
 }

 #canvas h2{

    margin-top: 0%;
    margin-left: 0%;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 20px;
    transform: translateY(-70px);
 }
 #taskbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #004FEB;
}

#taskbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
 
 

