
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#canvas{
    border-top-width: 40px ;
    border-top-style: solid;
    border-top-color: #004FEB;
   /* border: 10px solid #004FEB;*/
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 450px;
    height: 880px;
    background-color: rgb(193, 189, 189);
    transform: scale(0.8);
}

#tetris{
    text-align: center ;
    margin-left: auto;
    margin-right: auto; 
    font-family: Silkscreen; 
    font-size: 50px;
}

#tetris h2{
    margin: 0;
}

/* */

body{
    top: 0;
    background-image: url('https://images2.alphacoders.com/941/thumbbig-941898.webp') ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden; /* Hide vertical scrollbar */
}

